/* Clearfix */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* Classic New Tab Styles */

* {
  position: relative;
}

html, body {
  height: 100%; margin: 0; padding: 0;
  font: 13pt/1.5 Arial, sans-serif;
}

body {
  overflow: hidden;
}

#bookmarks-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #CDCDCE;
  background-color: #F4F4F4;
  font-size: 12px;
  overflow: hidden;
}

#bookmarks-bar > ul {
  margin: 0px 0px 0px 5px;
  padding: 0px;
}

#bookmarks-bar > ul.right {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 10px;
  background-color: #F4F4F4;
}

#bookmarks-bar > ul li {
  list-style: none;
  margin-left: 5px;
  padding: 0px;
  float: left;
  height: 40px;
}

#bookmarks-bar > ul li a {
  display: block;
  height: 18px;
  margin-top: 10px;
  padding: 1px 6px 1px 4px;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
}

#bookmarks-bar > ul li a:hover {
  border-color: #CACACA;
  cursor: pointer;
}

#bookmarks-bar > ul li a img {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  margin-right: 5px;
}

#bookmarks-bar > ul li a span {
  display: block;
  float: left;
  overflow: hidden;
  height: 18px;
  max-width: 100px;
}

#other-bookmarks {
  margin: 0px;
  padding: 0px 5px;
  background-color: #EDEDED;
  border: 1px solid #CFCFCF;
  border-radius: 4px;
  position: absolute;
  top: 35px;
  right: 3px;
  bottom: 45px;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
}

#other-bookmarks li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#other-bookmarks li a {
  display: block;
  height: 18px;
  margin-top: 10px;
  padding: 1px 6px 1px 4px;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  color: inherit;
}

#other-bookmarks li a:hover {
  border-color: #CACACA;
  cursor: pointer;
}

#other-bookmarks li a img {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  margin-right: 5px;
}

#other-bookmarks li a span {
  display: block;
  float: left;
  overflow: hidden;
  height: 18px;
  max-width: 450px;
}

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #CDCDCE;
  background-color: #F4F4F4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#E1E1E1));
  overflow: hidden;
}

#footer .chrome-logo {
  position: absolute;
  top: 11px;
  left: 10px;
}

#footer h1 {
  color: #77787B;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 50px;
  margin-left: 45px;
}

#footer .web-store {
  display: block;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 48px;
  cursor: pointer;
  color: #77787B;
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
}

#footer .web-store img {
  position: absolute;
  top: 15px;
  right: 20px;
}

#apps-wrapper {
  position: absolute;
  top: 40px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

#apps {
  margin: 0px;
  padding: 0px 0px 0px 120px;
}

#apps li {
  list-style: none;
  margin: 10px 25px;
  padding: 0px;
  float: left;
  text-align: center;
}

#apps li a {
  display: block;
  padding-top: 128px;
  width: 128px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

#apps li img {
  position: absolute;
  top: 0px;
  left: 0px;
}
