* {
  position: relative;
}

body {
  overflow: hidden;
}

/* Bookmark Item */

.bookmark-item {
  list-style: none;
  margin-left: 5px;
  padding: 0px;
  height: 20px;
}

.bookmark-item a {
  display: block;
  height: 18px;
  padding: 1px 6px 1px 4px;
  border: 1px solid #F4F4F4;
  border-radius: 4px;
  font-size: 12px;
  color: inherit;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

.bookmark-item a:hover {
  border-color: #CACACA;
  cursor: pointer;
}

.bookmark-item a img {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  margin-right: 5px;
}

.bookmark-item a span {
  display: block;
  overflow: hidden;
  height: 18px;
  line-height: 18px;
}

/* Bookmarks Bar */

#bookmarks-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #CDCDCE;
  background-color: #F4F4F4;
  font-size: 12px;
  overflow: hidden;
}

#bookmarks-bar .bookmark-item {
  height: 40px;
  float: left;
}

#bookmarks-bar .bookmark-item a {
  margin-top: 10px;
}

#bookmarks-bar .bookmark-item a span {
  max-width: 100px;
}

#bookmarks-bar .bookmarks-list {
  padding-left: 5px;
  padding-right: 0px;
}

#bookmarks-bar .bookmarks-list.other-bookmarks {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: 0px;
  padding-right: 10px;
  background-color: #F4F4F4;
}

/* Bookmarks Popup */

.bookmarks-popup {
  background-color: #EDEDED;
  border-radius: 4px;
  border: 1px solid #CFCFCF;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.bookmarks-popup .flowtip-content {
  overflow-x: hidden;
  overflow-y: auto;
}

.bookmarks-popup .bookmarks-list {
  padding-bottom: 2px;
  margin: 5px;
}

.bookmarks-popup .bookmark-item {
  margin-left: 0px;
  margin: 5px 0px;
  min-width: 100px;
}

@media (min-width: 650px) {
  .bookmarks-popup .bookmark-item {
    max-width: 600px;
  }
}

.bookmarks-popup .bookmark-item a {
  border-color: #EDEDED;
}

.bookmarks-popup .bookmark-item a:hover {
  border-color: #CACACA;
}

/* Footer */

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #CDCDCE;
  background-color: #F4F4F4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#E1E1E1));
  overflow: hidden;
}

#footer .chrome-logo {
  position: absolute;
  top: 11px;
  left: 10px;
}

#footer h1 {
  color: #77787B;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 50px;
  margin-left: 45px;
  font-family: Arial, sans-serif;
}

#footer .web-store {
  display: block;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 48px;
  cursor: pointer;
  color: #77787B;
  font-weight: 100;
  font-size: 12px;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

#footer .web-store img {
  position: absolute;
  top: 15px;
  right: 20px;
}

/* Apps */

#apps-wrapper {
  position: absolute;
  top: 40px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  overflow: auto;
}

#apps {
  margin: 0px;
  padding: 0px 0px 0px 175px;
}

#apps .app-item {
  list-style: none;
  margin: 10px 25px;
  padding: 0px;
  float: left;
  text-align: center;
}

#apps .app-item a {
  display: block;
  padding-top: 128px;
  width: 128px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-family: Arial, sans-serif;
}

#apps .app-item img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}
